<!DOCTYPE HTML>
<html lang="en">
        <head>
                <meta charset="UTF-8">
                <meta http-equiv="X-UA-Compatible" content="IE=edge">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <meta name="author" content="Shardul Shah">
                <meta name="keywords" content="User Alerter, User, Alerter, Youtube">
                <meta name="description" content="Application to alert users of Youtube video releases.">
                <meta name="application-name" content="User Alerter">

                <title>
                User Alerter
                 </title>

                <style>
                p
                {
                        color: black;
                }
                </style>
        </head>
        <body>
                <p>
                        Hi Shardul,
                        <br>
                        <br>
                        5hardul League has just released a new video! Click below to directly go to the video, or keep scrolling for more details.
                        <br>
                        <br>
                        <a target="_blank" href="https://www.youtube.com/watch?v=quCZe_N6tyQ">test 133</a>
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/quCZe_N6tyQ" title="YouTube Video Player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <br>
                        <br>
                        Video details:
                        <br>
                        <br>
                        Channel: <a target="_blank" href="https://www.youtube.com/channel/UCSN8HjojRhNwXkpT9dK5ZZQ">5hardul League</a>
                        <br>
                        Length: 2m 13s long
                        <br>
                        Title: test 133
                        <br>
                        Release Date: 2021-08-31T04:20:20+00:00
                        <br>
                        Description: placeHolderNeedFromAPI
                        <hr>
                  